<style>
  a {
    color:black;
    text-decoration: none;
  }
  h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray; /*웹페이지에 줄을 긋기전 어느 태그를 선택할지 잘 봐야한다*/
    margin:0;
    padding : 20px;
      }
  ol  {
    border-right:1px solid gray;
    width : 100px;
    margin : 0;
    padding-top: 20px;
    }
  #grid ol{
    padding-left: 33px;
  }
  body {
    margin :0;
  }
  #active {
    color : red;
  }
  .saw{
    color :gray;
  }
  #grid{
    display : grid;
    grid-template-columns: 150px 1fr;
  }
  #article{
    padding-left: 25px;
  }
  @media(max-width:800px){
    #grid{
      display:block; /*block level element로 변경*/
    }
    ol  {
      border-right:none;
  }
    h1{
      border-bottom: none;
    }
}
</style>
